# -*- coding: utf-8 -*- 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        % if hasattr(self, 'title'):
        <title>${self.title()}</title>
        % endif
        ${h.stylesheet_link('/css/screen.css',  media="screen, projection")}
        ${h.stylesheet_link('/css/print.css',  media="screen")}
        ${h.stylesheet_link('/css/print.css',  media="screen")}
        <!--[if lt IE 8]><link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection"><![endif]-->

        % if hasattr(self, 'css'):
        ${self.css()}
        % endif

        ${h.javascript_link('/js/common/jquery.js')}
        ${h.javascript_link('/js/common/common.js')}
        % if hasattr(self, 'js'):
        ${self.js()}
        % endif
    </head>
    <body>
        <div class="span-24"><a href="/">到首页</a></div>
        ${self.body()}
    </body>
</html>
