# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>
<%def name="title()">user page</%def>
<%def name="js()">
</%def>
<div class="container showgrid">
    <h1>欢迎您 ${c.userBase.nick}</h1>
    <hr />
    <div class="span-24" style="height:50%;">
        &nbsp;
    </div>
    <div class="span-24">
        % if c.userProfile == None:
        <form action="${h.url_for(controller='u', action='relating')}" method="post">
            <fieldset>
                <legend>关联您的google账户</legend>
                <label for="dummy0">you email</label><br>
                <div class="span-24">
                    <div class="span-10">
                        <input type="text" class="title" name="email" id="email" value="" />
                    </div>
                    <div class="span-13">
                        <form:error name="email" />
                    </div>
                </div>
                <label for="dummy1">your password</label><br>
                <div class="span-24">
                    <div class="span-10">
                        <input type="password" class="text" id="password" name="password" value="" />
                    </div>
                    <div class="span-13">
                        <form:error name="password"/>
                    </div>
                </div>
                <p>
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
                </p>
            </fieldset>
        </form>
        % else:
        <input name="source_url" class="text" type="text" id="source_url" empty="url为空" maxlength="200"/> 
        <button onclick="T.subscribe('source_url');">订阅</button> 
        % endif
    </div>
    <div class="span-24 last" >
        <ul id="feed_container">
            % for subscribe in c.subscribes:
            <li> ${subscribe['name']}  ${subscribe['url']} ${subscribe['id']}  ${subscribe['add_time']}</li>
            % endfor
        </ul>
        ${c.paginate.pager()}<br />
    </div>
    <hr />
</div>
