# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>
<%def name="title()">login page</%def>
<div class="container showgrid">
    <h1>欢迎您 ${c.userBase.nick}</h1>
    <hr>
    <div class="span-24" style="height:50%;">
        &nbsp;
    </div>
    <div class="span-24">
        % if c.userProfile == None:
        <form action="${h.url_for(controller='u', action='relating')}" method="post">
            <fieldset>
                <legend>关联您的google账户</legend>
                <label for="dummy0">you email</label><br>
                <div class="span-24">
                    <div class="span-10">
                        <input type="text" class="title" name="email" id="email" value="" />
                    </div>
                    <div class="span-13">
                        <form:error name="email">
                    </div>
                </div>

                <label for="dummy1">your password</label><br>
                <div class="span-24">
                    <div class="span-10">
                        <input type="password" class="text" id="password" name="password" value="" />
                    </div>
                    <div class="span-13">
                        <form:error name="password">
                    </div>
                </div>
                <p>
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
                </p>
            </fieldset>
        </form>
        % else:
        ${c.userBase.email}
        ${c.google_account['email']}
        % endif
    </div>
    <div class="span-12 last">
    </div>
    <hr>
</div>
