# -*- coding: utf-8 -*- 
<%inherit file="/base.html"/>
<%def name="title()">login page</%def>
<div class="container showgrid">
    <h1>login to our site</h1>
    <hr>
    <div class="span-24" style="height:50%;">
        &nbsp;
    </div>
    <div class="span-24">
        <form action="/accounts/loginauth" method="post">
            <fieldset>
                <legend>submit your infomation</legend>
                <label for="dummy0">you email</label><br>
                <div class="span-24">
                    <div class="span-10">
                        <input type="text" class="title" name="email" id="email" value="" />
                    </div>
                    <div class="span-13">
                        <div class="error hide">
                            This is a &lt;div&gt; with the class <strong>.error</strong>. <a href="#">Link</a>.
                        </div>
                        <div class="notice hide">
                            This is a &lt;div&gt; with the class <strong>.notice</strong>. <a href="#">Link</a>.
                        </div>
                        <div class="success hide">
                            This is a &lt;div&gt; with the class <strong>.success</strong>. <a href="#">Link</a>.
                        </div>
                    </div>
                </div>

                <label for="dummy1">your password</label><br>
                <div class="span-24">
                    <div class="span-10">
                        <input type="password" class="text" id="password" name="password" value="" />
                    </div>
                    <div class="span-13">
                        <div class="error hide">
                            This is a &lt;div&gt; with the class <strong>.error</strong>. <a href="#">Link</a>.
                        </div>
                        <div class="notice hide">
                            This is a &lt;div&gt; with the class <strong>.notice</strong>. <a href="#">Link</a>.
                        </div>
                        <div class="success hide">
                            This is a &lt;div&gt; with the class <strong>.success</strong>. <a href="#">Link</a>.
                        </div>
                    </div>
                </div>
                <p>
                <input type="submit" value="Submit">
                <input type="reset" value="Reset">
                </p>
            </fieldset>
        </form>
    </div>
    <div class="span-12 last">
    </div>
    <hr>
</div>
